---
import Layout from "../layouts/Layout.astro";
import MarkdownContainer from "../components/MarkdownContainer.astro";
import Hero from "../components/Hero.astro";
import { Content as MarkdownSection } from "../pages/markdownSubpage.md";
---

<Layout title="Welcome to Astro.">
	<Hero
		title="Hero Package"
		lead="AstroJS Template"
		repository="https://gitlab.com/PiotrPastusiak/astrojs-hero-package-template"
	/>

	<MarkdownContainer><MarkdownSection /></MarkdownContainer>
</Layout>
