---
export interface Props {
    title: string;
    description: string;
    icon: string;
}

import bootstrapIcons from "bootstrap-icons/bootstrap-icons.svg";
const { title, description, icon } = Astro.props;
---

<div class="col px-5 d-flex align-items-start">
    <svg
        class="bi text-muted flex-shrink-0 me-3"
        fill="currentColor"
        viewBox="0 0 118 94"
        width="1.75em"
        height="1.75em"
        ><use xlink:href={bootstrapIcons + icon}></use>
    </svg>
    <div>
        <h3
            class="fw-bold mb-2 fs-5 border-3 pb-1 border-bottom feature-underline"
        >
            {title}
        </h3>
        <p class="text-white">{description}</p>
    </div>
</div>
<style>
    .feature-underline {
        border-image-slice: 1;
        border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    }
</style>
