---
export interface Props {
    title: string;
    lead: string;
    repository: string;
}

import InstallationBox from "./InstallationBox.astro";
import { gatherReleaseInfo } from "../utils/gitlabApi";
import Feature from "../components/Feature.astro";

const releaseData = await gatherReleaseInfo();
console.log(releaseData);

const { title, lead, repository } = Astro.props;

const currentVersion = releaseData.tag;
const releasesPage = repository + "/-/releases";
const installCommand =
    "git clone https://gitlab.com/PiotrPastusiak/astrojs-hero-package-template.git";
---

<div class="bg-dark container-fluid overflow-hidden">
    <div class="container">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center">
            <div class="col-lg-6 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1">
                    <span class="text-gradient">{title}</span>
                </h1>

                <p class="lead text-white pt-5">{lead}</p>
                <div
                    class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3"
                >
                    <a href="#installation">
                        <button
                            type="button"
                            class="btn btn-primary px-4 me-md-2 fw-bold"
                            >Get Started</button
                        >
                    </a>
                    <a href={repository}>
                        <button
                            type="button"
                            class="btn btn-outline-secondary px-4"
                            >View on Gitlab</button
                        >
                    </a>
                </div>
                <p class="text-muted mb-0">
                    Currently <strong>{currentVersion}</strong>
                    <span class="px-1">·</span>
                    <a href={releasesPage} class="link-secondary text-nowrap"
                        >All releases</a
                    >
                </p>
            </div>
            <div class="col-lg-6 p-0 shadow-lg">
                <img
                    class="rounded-lg-3"
                    src="preview.png"
                    alt=""
                    width="720"
                />
            </div>
        </div>

        <div class="row text-white row-cols-3 g-4 p-4">
            <Feature
                title="Featured title"
                description="Paragraph of text beneath the heading to explain the heading."
                icon="#bootstrap"
            />
            <Feature
                title="Featured title"
                description="Paragraph of text beneath the heading to explain the heading."
                icon="#bootstrap"
            />
            <Feature
                title="Featured title"
                description="Paragraph of text beneath the heading to explain the heading."
                icon="#shop"
            />
        </div>

        <div class="row px-4" id="installation">
            <div class="col-12 p-5 pt-3">
                <InstallationBox installCommand={installCommand} />
            </div>
        </div>
    </div>
</div>

<style>
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
</style>
