---
export interface Props {
    installCommand: string;
}
import bootstrapIcons from "bootstrap-icons/bootstrap-icons.svg";
const { installCommand } = Astro.props;
---

<h2 class="mb-3 text-white">Installation</h2>
<div class="input-group mb-3">
    <div
        class="input-group-prepend btn btn-success btn-lg btn-clipboard"
        data-bs-toggle="tooltip"
        data-bs-title="Copy to clipboard"
        id="buttonClipboard"
    >
        <svg class="bi bi-clipboard" fill="currentColor" width="16" height="16"
            ><use xlink:href={bootstrapIcons + "#clipboard"}></use>
        </svg>
    </div>
    <input
        class="form-control"
        id="installCommandExample"
        type="text"
        value={installCommand}
        aria-label="Disabled input example"
        disabled
        readonly
    />
</div>

<script>
    function handleClick() {
        console.log("button clicked!");
        const text = document.getElementById("installCommandExample").value;
        navigator.clipboard.writeText(text).then(
            function () {
                console.log("Async: Copying to clipboard was successful!");
            },
            function (err) {
                console.error("Async: Could not copy text: ", err);
            }
        );
    }

    document
        .getElementById("buttonClipboard")
        .addEventListener("click", handleClick);

    const tooltipTriggerList = document.querySelectorAll(
        '[data-bs-toggle="tooltip"]'
    );
    const tooltipList = [...tooltipTriggerList].map(
        (tooltipTriggerEl) => new bootstrap.Tooltip(tooltipTriggerEl)
    );
</script>
