---
---

<div class="container-fluid overflow-hidden">
    <div class="container">
        <div class="row p-4">
            <div class="col-12 px-5 py-3">
                <slot />
            </div>
        </div>
    </div>
</div>
<hr class="border-2 border-top border-secondary" />
