---
export interface Props {
    title: string;
}

import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap-icons/font/bootstrap-icons.css";
import bootstrap from "bootstrap/dist/js/bootstrap.bundle.min.js?url";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <script src={bootstrap}></script>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
<style is:global>
    :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            #da62c4 30%,
            white 60%
        );
    }
    .astro-code {
        padding: 16px 24px;
        border-radius: 8px;
        font-size: 14px;
    }
    code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
            DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }

    pre[class*="astro-code"] {
        position: relative;
    }

    pre[class*="astro-code"] button {
        position: absolute;
        top: 8px;
        right: 8px;
        display: block;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        opacity: 50%;
        font-size: 1.5em;
        border: 0;
    }

    pre[class*="astro-code"] button:hover {
        opacity: 75%;
    }
</style>
<script>
    // https://www.roboleary.net/2022/01/13/copy-code-to-clipboard-blog.html
    let blocks = document.querySelectorAll("pre");

    blocks.forEach((block) => {
        let button = document.createElement("button");
        button.classList.add("bi-clipboard");
        button.setAttribute("data-bs-toggle", "tooltip");
        button.setAttribute("data-bs-title", "Copy to clipboard");
        block.appendChild(button);

        button.addEventListener("click", async () => {
            await copyCode(block);
        });
    });

    async function copyCode(block: any) {
        let code = block.querySelector("code");
        let text = code.innerText;

        await navigator.clipboard.writeText(text);
    }
</script>
